@tailwind preflight;
@tailwind utilities;

@import "_vars.scss";

.page-section {
  @apply .bg-blue-lightest .py-6 .px-4;
}

nav {
  padding: 10px;

  a {
    padding: 10px;
    text-decoration: none;
    color: $green;
  }
}
